<form action="/posts" method="post">
  <label for="name">Title: </label>
  <input type="text" name="name" id="name">
  <br>
  <label for="content">Body: </label>
  <input type="text" name="content" id="content">

  <input type="submit" value="Submit" id="submit">
</form>
