<h1>Here is the form</h1>

  <form action="/posts" method="POST">
    <label for="name">Name:</label>
    <input id="name" name="name" type="text"/>
    <br>
    <label for="content">Content:</label>
    <input id="content" name="content" type="text"/>
    <br>
    <input id="submit" type="submit"/>
  </form>
