<!-- Show's post title & content -->
<!-- Also has form that deletes an individual post -->
<p><%= @post.name %></p>

<p><%= @post.content %></p>

<form method="post" action="/posts/<%= @post.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">

  <input type="submit" value="delete">
</form>
